<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module:</string>
			<key>Description</key>
			<string>The name of your VIPER Module</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Main</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Subclass:</string>
			<key>Description</key>
			<string>The type of controller to create</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>UIViewController</string>
			<key>Values</key>
			<array>
				<string>UIViewController</string>
				<string>UITableViewController</string>
				<string>UICollectionViewController</string>
			</array>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>generateEntityFile</string>
			<key>Name</key>
			<string>Also create an entity</string>
			<key>Description</key>
			<string>Create an entity file with the same name</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>RequiredOptions</key>
			<dict>
				<key>viewType</key>
				<array>
					<string>UIViewController</string>
					<string>UITableViewController</string>
					<string>UICollectionViewController</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
